.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #333;
}

.wrapper > div {
    padding: 20px;
    border: 1px solid #333;
}

.yellow {
    background: yellow;
}
